@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: lofi --default, night, cyberpunk, synthwave, dracula, cmyk, autumn, business, acid, black, luxury, light, dark, cupcake;
}

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }

  .select {
    color: hsl(var(--bc) / 1);
    background-color: hsl(var(--b1) / 1);
  }

  .select option {
    color: hsl(var(--bc) / 1);
    background-color: hsl(var(--b1) / 1);
  }
}
