@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: lofi --default, night --prefersdark;
}

@layer base {
  html {
    font-family: 'Montserrat', sans-serif;
  }
}